*{
	margin: 0;
	padding: 0;
}
/*----Global styles start----*/
.section-title h1{
display: inline-block;
text-transform: uppercase;
font-size: 35px;
font-weight: 700;
color: #000000;
position: relative;
}
.section-title h1::before{
content: '';
height: 3px;
background-color: #febd01;
margin-top: 45px;
left: 0;
right: 30%;
position: absolute;
}
.section-title p{
color: #838383;
font-size: 18px;
font-weight: 400;
margin-bottom: 40px;
letter-spacing: 2px;
}

/*----Global styles end----*/

/*---home and head section----*/
#head{
	position: absolute;
	border-bottom: 1px solid #423940;
	left: 0;
	right: 0;
}
.row{
	display: flex;
	flex-wrap: wrap; 
}
#head .row{
justify-content: space-between;
align-items: center;
}
#head .brand-name a{
color: #dedede;
font-size: 30px;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
padding: 0 15px;
position: relative;
}
.navbar ul{
font-size: 18px;
font-weight: 500;
padding: 0;
margin: 0;
}
.navbar ul li{
display: inline-block;
margin-left: 25px;
}
#head .navbar ul li a{
color: #dedede;
text-decoration: none;
line-height: 40px;
position: relative;
}
#head .navbar ul li a::before{
content: '';
height: 3px;
width: 0%;
background-color: #ffffff;
position: absolute;
right: 0;
top: 37px;
transition: all .5s ease;
}
#head .navbar ul li a:hover::before{
left: 0;
width: 100%;
}
#head .navbar ul li a.active::before{
left: 0;
width: 100%;
}
#home{
min-height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("me/nur.jpg"); 
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 15px;
}

/*-----home section start---*/
#home .full-screen{
min-height: 100vh;
}
#home .home-content{
flex: 0 0 100%;
max-width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
}
#home .block{
color: #ffffff;
flex: 0 0 75%;
max-width: 75%;
padding-left: 45px;
border-left: 5px solid #ffffff;

}
#home .block h5{
font-size: 18px;
font-weight: 500;
flex: 0 0 75%;
max-width: 75%;
}
#home .block h1{
font-size: 70px;
font-weight: 600;
margin: 0;
padding: 0;	
}
#home .block h3{
font-size: 30px;
font-weight: 500;
/*color: skyblue;*/
margin: 0;
padding: 0;	
}
#home .block .cv-btn{
margin-top: 40px;
padding: 0;
}
#home .block .cv-btn a{
text-decoration: none;
color: #ffffff;
font-size: 14px;
font-weight: 600;
text-transform: uppercase;
border: 1px solid #ffffff;
border-radius: 5px;
padding: 10px 25px;
transition: all .5s ease;
}
#home .block .cv-btn a:hover{
background-color: #ffffff;
color: #000;
}
/*----Home section end ---*/

/*----about me start---*/
#about-me{
padding: 50px 15px;
background-color: #fff;
}
#about-me .section-title p{
text-transform: uppercase;
}
#about-me .about-content .img{
flex: 0 0 33.33%;
max-width: 33.33%;
}
#about-me .about-content img{
width: 100%;
display: block;
}
#about-me .about-content .text-about{
flex: 0 0 66.66%;
max-width: 66.66%;
padding-left: 50px;
}
#about-me .about-content .text-about h3{
font-size: 30px;
font-weight: 600;
color: #000000;
margin :0 0 10px;
}
#about-me .about-content .text-about h6{
font-size: 18px;
font-weight: 600;
color: #000000;
margin :0 0 15px;
}
#about-me .about-content .text-about h6 span{
color: #febd01;
}
#about-me .about-content .text-about p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #838383;
}
#about-me .about-content .text-about .info{
display: flex;
flex: wrap;
justify-content: space-between;
}
#about-me .about-content .text-about .info .list{
margin-top: 10px;
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid #dee2e6;
}
#about-me .about-content .text-about .info label{
font-size: 18px;
color: #000000;
font-weight: 600;
}
#about-me .about-content .text-about .info p{
padding-left: 10px;
font-size: 16px;
}
#about-me .about-content .text-about .social{
margin-left: 150px;
}
#about-me .about-content .text-about .icon{
background-color: #000000;
font-size: 30px;
color: #ffffff;
border: 1px solid #535353;
border-radius: 8px;
width: 45px;
text-align: center;
display: inline-block;
margin: 50px 5px;
transition: all .5s ease;
}
#about-me .about-content .text-about .icon:hover{
color: #000000;
background-color: transparent; 
}
/*----About section end---*/

/*-----Our service section start---*/
#services{
background-color: #f5f8fd;	
padding: 50px 0 70px;
}
#services .section-title h1::before{
left: 30%;
}
#services .service-content{
flex: 0 0 100%;
max-width: 100%;
display: flex;
flex-wrap: wrap;
margin-top: 50px;
justify-content: space-between;
}
#services .service-content .box{
background-color: #ffffff;
padding: 30px;
flex: 0 0 calc(33.33% - 20px);
max-width: calc(33.33% - 20px);
margin-bottom: 20px;
text-align: center;
border: 1px solid #eeeeee;
border-radius: 5px;
text-align: center;
position: relative;
}
#services .service-content .box::before{
content: '';
height: 3px;
background-color: #febd01;
bottom: 0;
width: 60px;
position: absolute;
left: 0;
right: 0;
margin: auto;
}
#services .service-content .box:hover::before{
width: 100%;
transition: all .5s ease;
}
#services .service-content .box h5{
font-size: 18px;
font-weight: 600;
color: #000000;
}
#services .service-content .box p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #838383;
margin: 15px 0 15px;	
}
#services .service-content .box .icon{
height: 60px;
width: 60px;
border-radius: 50%;
background-color: #febd01;
margin:10px auto 20px;
}
#services .service-content .box .icon .fa{
font-size: 25px;
color: #ffffff;
line-height: 60px; 
}

/*--skill section start---*/
.skills{
padding: 100px 0;
background-color: #ffffff;
}
.skills .skills-content{
flex: 0 0 50%;
max-width: 50%;
padding-right: 40px;
}
.skills .skills-content p{
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #838383;
margin: 30px 0 25px;
}
.skills .img{
flex: 0 0 50%;
max-width: 50%;
}
.skills .img img{
width: 100%;
display: block;
}
.skills .item-center{
align-items: center;
}
.skills .skills-content .skill-box{
flex: 0 0 100%;
max-width: 100%;
margin-top: 20px;
}
.skills .skills-content .skill-box h6{
font-size: 18px;
font-weight: 500;
color: #000000;
}
.skills .skills-content .skill-bar{
background-color: #eeeeee;
height: 6px;
border-radius: 3px;
position: relative;
}
.skills .skills-content .skill-bar .skill-bar-in{
background-color: #febd01;
position: absolute;
left: 0;
top: 0;
height: 100%;
}
.skills .skills-content .skill-bar span{
color: #838383;
font-weight: 400;
position: absolute;
right: 0;
top: -23px;
}
/*--skill section end---*/

/*---portfolio works start---*/
#portfolio{
padding: 100px 15px;
background-color: #f5f8fd;
}
#portfolio .section-title h1::before{
left: 30%;
}
#portfolio .filter-buttons{
flex: 0 0 100%;
max-width: 100%;
margin-top: 30px;
}
#portfolio .filter-buttons ul{
list-style: none;
text-align: center;
padding: 10px 0;
}
#portfolio .filter-buttons li{
display: inline-block;
margin: 0 10px;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
}
#portfolio .filter-buttons li.active{
color: #febd01;
border-bottom: 2px solid #febd01;
}
#portfolio .portfolio-gallery{
flex: 0 0 100%;
max-width: 100%;
display: flex;
flex-wrap: wrap;
}
#portfolio .portfolio-gallery .item{
flex: 0 0 33.33%;
max-width: 33.33%;
padding: 15px;
position: relative;
}
#portfolio .portfolio-gallery .item img{
width: 100%;
display: block;
}
#portfolio .portfolio-gallery .item .overlay{
position: absolute;
left: 0;
right: 0;
top: 0;
bottom:0;
background-color: rgba(0,0,0,0.6);
z-index: 10;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
}
#portfolio .portfolio-gallery .item:hover .overlay{
opacity: 1;
}
#portfolio .portfolio-gallery .item .overlay .fa{
height: 50px;
width: 50px;
line-height: 50px;
background-color: #febd01;
color: #ffffff;
display: inline-block;
text-align: center;
line-height: 50px;
border-radius: 50%;
cursor: pointer;
}
#portfolio .portfolio-gallery .item:hover .overlay .fa{
-webkit-animation: galleryIcon .8s ease;
animation: galleryIcon .8s ease;
}
@keyframes galleryIcon{
0%{
	transform: translateY(-20px);opacity: 0; 
}100%{
transform: translateY(0);opacity: 1;
}
}
#portfolio .portfolio-gallery .item .overlay h4{
margin-top: 10px;
font-size: 25px;
color: #ffffff;
font-weight: 600;
}
#portfolio .portfolio-gallery .item:hover .overlay h4{
-webkit-animation: galleryText .8s ease;
animation: galleryText .8s ease;
}
@keyframes galleryText{
0%{
	transform: translateY(20px);opacity: 0; 
}100%{
transform: translateY(0);opacity: 1;
}
}

/*----testimonial section start---*/
#testimonials{
padding: 100px 0;
background-color: #f5f8fd;
}
#testimonials .section-title h1::before{
left: 30%;
}
#testimonials .testimonial-content{
position: relative;
overflow: hidden;
}
#testimonials .testimonial-content .img{
flex: 0 0 128px;
max-width: 128px;
} 
#testimonials .testimonial-content img{
height: 100px;
width: 100px;
border-radius: 50%;
}
#testimonials .testimonial-content .test-slider .slider{
background-color: #ffffff;
margin-bottom: 15px;
border: 1px solid #eeeeee;
padding: 40px 20px;
display: flex;
}
#testimonials .testimonial-content .test-slider .slider p{
font-size: 17px;
font-weight: 400;
line-height: 24px;
color: #838383;
/*margin: 10px 0 5px;*/
}
#testimonials .testimonial-content .test-slider .slider h5{
font-size: 18px;
font-weight: 600;
color: #000000;
}
/*----testimonial section end---*/